@use "abstracts" as *;
@use "base" as *;
@use "utilities" as *;

html,
body {
  overflow-x: hidden;
  height: 100%;
}

html {
  font-size: 62.5%; // 18px = 1.8rem
  // scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  color: var(--clr-neutral-300);
  background: var(--clr-neutral-100);
  line-height: 1.1;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--clr-neutral-300);
}

h1 {
  font-size: 5.5rem;
  letter-spacing: -0.16rem;

  @include mq(md) {
    font-size: 4.5rem;
  }

  @include mq(xs) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3.5rem;

  @include mq(xs) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3rem;

  @include mq(xs) {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 2.4rem;

  @include mq(xs) {
    font-size: 2rem;
  }
}

h5 {
  font-size: 2rem;

  @include mq(xs) {
    font-size: 1.8rem;
  }
}

h6 {
  font-size: 1.5rem;
}

.sml {
  font-size: 1.2rem;
}

.x-sml {
  font-size: 1rem;
  line-height: 1.4;
}

.shadow {
  box-shadow: 0px 0rem 1rem rgb(0 0 0 / 6%) !important;
}

.form-control:focus {
  box-shadow: none;
}

/* navigation */

.navigation {
  &__top {
    .navbar-nav {
      align-self: center;
    }

    .navbar-nav .nav-link {
      color: var(--clr-neutral-300);
    }

    .nav-item {
      font-weight: var(--fw-regular);
      height: 40px;
      text-align: center;

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }

  .nav-opt {
    .nav-item {
      min-width: 200px;
    }
  }

  &__top {
    min-height: 85px;

    @include mq(md) {
      min-height: auto;
    }

    .navbar-brand {
      img {
        max-width: 100%;

        @include mq(xs) {
          max-width: 80%;
        }
      }
    }

    .navbar-nav {
      line-height: 1.7;

      @include mq(md) {
        border-top: 1px solid var(--clr-neutral-250);
        margin-top: 12px;
        padding-top: 10px;
      }
    }

    .navbar-nav .nav-link {
      padding-bottom: 27px;
      font-size: 1.6rem;
      padding-top: 6px;
    }

    .nav-item {
      &.active {
        .nav-link {
          color: var(--clr-primary-100);
        }
      }
    }
    .navbar-brand {
      .badge {
        border-radius: 0px;
      }
    }

    .right-nav {
      .nav-item {
        .nav-link {
          color: var(--clr-neutral-100);
        }
      }
    }
  }

  // @include mq(md) {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   z-index: 1030;
  // }

  .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-size: 3.25rem;
  }

  .navbar-toggler-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0.1em;

    i {
      font-size: 2rem;
    }
  }
}

// Hero Section
.hero-wrapper {
  height: 390px;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 85px;
  position: relative;
  isolation: isolate;

  @include mq(md) {
    background-image: url("../images/hero-mb.jpg");
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(0deg, rgb(0 0 0 / 0.9), rgb(0 0 0 / 0));
    }
  }

  @include mq(md) {
    margin-top: 75px;
  }

  .hero-text {
    transform: translateY(-20%);

    @include mq(sm) {
      transform: translateY(-30%);
    }
  }

  &__testimonial {
    background-image: url("../images/hero-2.jpg");

    .hero-text {
      transform: none;
    }
  }
  &__home {
    height: auto;
  }
}

.card {
  &__partners {
    border-radius: 8px;
    border-color: var(--clr-neutral-220);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
    padding: 0.1em 4em;
    transform: translateY(-20%);

    @include mq(lg) {
      padding: 0.1em 0.1em;
    }

    @include mq(md) {
      // transform: none;
    }

    .img-partners {
      @include mq(md) {
        & > * {
          flex: 0 1 80px;
          margin: 5px auto;
          min-width: 165px;
        }
        .w-img {
          min-width: 100px;
        }
        .h-img {
          min-width: 90px;
        }
      }
    }

    &.hero-hm-card {
      transform: translateY(15%);
      // transform: none;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.28);
      padding: 3em 2em;

      h1 {
        max-width: 20ch;
        margin: 0 auto;
        line-height: 1.1;
      }
    }
  }
}

.breakout {
  @include mq(md) {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }
}

// caption
.caption-block {
  padding: 110px 0px 50px 0px;
  max-width: 100ch;

  @include mq(md) {
    padding: 60px 20px 30px 20px;
  }

  @include mq(xs) {
    padding: 110px 20px 30px 20px;
  }
}

// content
.content-block {
  padding: 50px 0px 100px 0px;

  @include mq(md) {
    padding: 50px 20px 100px 20px;
  }

  p {
    margin-bottom: 2rem;
  }
}

// testimonial

.ab-testimonial {
  border-top: 1px solid var(--clr-neutral-300);

  .testi-cont {
    padding: 35px 0px 0px 0px;

    @include mq(xs) {
      padding: 35px 20px 0px 20px;
    }
  }

  .nps-img {
    img {
      max-width: 220px;
      transform: translate(-17%, -23%);

      @include mq(lg) {
        max-width: 100%;
        transform: translate(-17%, -40%);
      }
      @include mq(md) {
        max-width: 220px;
        transform: translate(-17%, -25%);
      }
    }
  }

  .comment-box {
    border-radius: 12px;
    position: relative;
    max-width: 94%;

    @include mq(xlg) {
      max-width: 100%;
    }

    &::after {
      content: " ";
      position: absolute;
      left: 32%;
      bottom: -20px;
      border-top: 30px solid var(--clr-neutral-250);
      border-right: 30px solid transparent;
      border-left: 0px solid transparent;
      border-bottom: none;

      @include mq(lg) {
        left: 38%;
      }

      @include mq(md) {
        left: 25%;
      }

      @include mq(xs) {
        content: none;
      }
    }

    p {
      color: var(--clr-neutral-350);
      padding: 20px 20px 20px 40px;
      flex: 1;

      @include mq(xlg) {
        font-size: 1.4rem;
        padding: 10px 10px 10px 20px;
      }
    }

    img {
      object-fit: cover;
    }

    &.box-2 {
      &::after {
        left: 40%;

        @include mq(md) {
          left: 25%;
        }
      }
    }
  }

  .com-box-name {
    h5 {
      @include mq(xlg) {
        font-size: 1.3rem;
      }
    }
    h6 {
      @include mq(xlg) {
        font-size: 1.2rem;
        margin-left: 15%;
      }

      @include mq(xs) {
        margin-left: auto;
      }
    }
  }

  .com-box-wrap {
    @include mq(md) {
      transform: translateY(-50%);
    }
  }
}

// footer
footer {
  padding: 4em 0 2em 0;

  @include mq(xs) {
    padding: 2em 0 2em 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include mq(xs) {
      flex-direction: column;
    }

    li {
      margin: 10px 15px;
      a {
        color: var(--clr-neutral-100);
        &:hover,
        &:focus,
        &:active {
          color: var(--clr-neutral-100);
        }
      }
    }
  }
}

/*-----------testimonial page start-----------------*/

.testi-main {
  transform: translateY(-5%);

  @include mq(lg) {
    transform: translateY(-2%);
  }
  @include mq(xs) {
    transform: translateY(-1%);
  }
}

.check-img {
  @include mq(md) {
    max-width: 16%;
  }
}

.testi-box {
  border-radius: 18px;
  padding: 2em;
  margin: 0.5rem 0;
  border-color: var(--clr-neutral-380);

  p {
    color: var(--clr-neutral-310);
  }
}

/*-----------testimonial page end-----------------*/

/*-----------home page start-----------------*/

.hero-icon-wrap {
  margin: 3em 0 3em 0;

  .hero-icon-box {
    margin: 0 2em;
    img {
      margin: 0 auto;
    }
  }
}

.hero-btns {
  margin-bottom: 2.5em;
  a {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 0.9em;
    padding: 1.3rem 2rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);

    i {
      margin-left: 2rem;
      font-size: 2rem;
    }

    .top {
      font-size: 1.8rem;
      display: block;
    }
  }
}

.hero-partners {
  max-width: 40em;
  margin: 1.2em auto 0 auto;
  img {
    margin: 0 auto;
  }
}

// value
.value-block {
  padding: 110px 0px 90px 0px;
}

.rev-block {
  .rev-user-img {
    filter: grayscale(100%);
  }

  .rev-text {
    h5 {
      line-height: 1;
    }
  }
}

// support

.support-block {
  padding: 50px 0 50px 50px;

  .card {
    img {
      max-width: 320px;
      max-height: 200px;
      margin: 0 auto;
      height: 100%;
      border-radius: 18px;
      object-fit: cover;
      overflow: hidden;
    }

    .card-text {
      max-width: 22ch;
      margin: 0 auto;
    }
  }

  .sup-cards {
    margin-top: 3.5em;
  }
}

// people

.people-box {
  &.left {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  &.right {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }

  .img-box {
    img {
      object-fit: cover;
      max-width: 300px;
    }
  }

  .content-box {
    padding: 4em 3em 4em 3em;
    h2 {
      line-height: 1;
    }
    p {
      margin-bottom: 1rem;
      color: var(--clr-neutral-420);
      font-size: 2rem;
    }
  }
}

// trust

.trust-wrap {
  padding: 4em 0;

  h1 {
    font-size: 8rem;
    line-height: 1.1;
    text-align: right;
  }

  .right-block {
    padding: 1.4em 0 0 2em;

    ul {
      list-style: none;
    }
    li {
      margin-bottom: 30px;
    }
    li:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f058";
      margin: 0 10px 0 -25px;
      color: var(--clr-secondary-100);
    }
  }
}

/*-----------home page start-----------------*/
